<header id="masthead" class="site-header" role="banner">

    <nav id="site-navigation" class="main-navigation" role="navigation">
            <button class="menu-toggle">&gt;toggle&lt;</button>
            <a class="assistive-text" href="/#content" title="跳至内容">跳至内容</a><!--TODO-->
            <div class="menu-main-container">
                <ul id="menu-main" class="nav-menu">
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/"><%= config.title %></a></li>
                <% for (var i in theme.menu){ %>
                    <li class="mast-border"></li><li class="mast2"></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
                <% } %>
                </ul>
            </div>
    </nav>
</header>