<footer id="colophon" role="contentinfo">
    <p>Copyright &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>.
    All rights reserved.</p>
	<p>BonerBrew is: crayix // hulasamsquanch, rafa1231518 // chrishansen69, Black Dragon // LRC-TEC</p>
    <p>Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>. Theme originally by <a href="https://github.com/wizardforcel/hexo-theme-cyanstyle">Wizard Zhang (wizardforcel)</a></p>
</footer>